<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steganography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>

    <div id="loader-background" style="display: none;"><div id="loader"></div></div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">Steganography</a></div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{{ 'active' if encode is defined else None }}"><a href="{{ url_for('encode') }}">encode</a></li>
                    <li class="{{ 'active' if decode is defined else None }}"><a href="{{ url_for('decode') }}">decode</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% if welcome is defined %}
        <center><h2>Welcome to Steganography</h2></center>
    {% else %}
        <!-- content -->
        <div class="container-fluid">
            <div class="row">
                <form id="stegano_encode" action="{{ url_for('stegano_encode') if encode is defined else url_for('stegano_decode') }}" method="POST" enctype="multipart/form-data">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>{{ 'Cover' if encode is defined else 'Encode' }} Image</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file cover">
                                        Browse… <input type="file" name="cover" id="coverImgInp" accept="image/*" required>
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <img id='cover-upload'/>
                        </div>
                    </div>

                    {% if encode is defined %}
                        <div class="col-md-5">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Message</a></li>
                                <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Image</a></li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="message"><span>Secret Message:</span></label>
                                            <textarea name="message" id="message" cols="80" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="form-group">
                                        <label>Cover Image</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <span class="btn btn-default btn-file secret">
                                                    Browse… <input type="file" name="secret" id="secretImgInp" accept="image/*">
                                                </span>
                                            </span>
                                            <input type="text" class="form-control" readonly>
                                        </div>
                                        <img id='secret-upload'/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="input-group">
                                    <p>select the field you want to extract:</p>
                                    <label class="radio-inline"><input type="radio" name="decode" value="0" checked>message</label>
                                    <label class="radio-inline"><input type="radio" name="decode" value="1">image</label>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-2">
                        <button class="btn btn-outline-success" type="submit">{{ 'Encode' if encode is defined else 'Decode' }}</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- end content -->

        <button type="button" id="show_image" style="visibility: hidden;" class="btn btn-primary" data-toggle="modal" data-target="#encode_model">Launch demo modal</button>

        <!-- Modal -->
        <div class="modal fade panel-primary" id="encode_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <a class="btn btn-primary">Download image</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>