<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Steganography</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">Steganography</a></div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">encode</a></li>
                    <li><a href="#">decode</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div class="container-fluid">
        <div class="row">
            <form id="stegano_encode" action="{{ url_for('stegano_encode') }}" method="POST" enctype="multipart/form-data">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Cover Image</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file cover">
                                    Browse… <input type="file" name="cover" id="coverImgInp" accept="image/*" required>
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <img id='cover-upload'/>
                    </div>
                </div>

                <div class="col-md-5">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Message</a></li>
                        <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Image</a></li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="message"><span>Secret Message:</span></label>
                                    <textarea name="message" id="message" cols="80" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="form-group">
                                <label>Cover Image</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file secret">
                                            Browse… <input type="file" name="secret" id="secretImgInp" accept="image/*">
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" readonly>
                                </div>
                                <img id='secret-upload'/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-outline-success" type="submit">Encode</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end content -->

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>